<!DOCTYPE html>
<html>
  
  <head>
	<%= csrf_meta_tags %>
	<title>Intranet Group-Chat System</title>
	
	<link rel="stylesheet" media="all" href="/assets/chat.css" >
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  
  <body>
  	<nav class="navbar navbar-dark bg-inverse">
	  <%= link_to 'CableChat', root_path, class: 'navbar-brand' %>
	  <%= link_to 'Users', '/users', class: 'navbar-brand' %>


	  <% if user_signed_in? %>
	    <ul class="nav navbar-nav pull-xs-right">
	      <li class="nav-item">
	        <span class="text-muted">Logged in as <strong><%= current_user.name %></strong></span>
	      </li>
	      <li class="nav-item active">
	        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
	      </li>
	    </ul>
	  <% end %>
	</nav>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <%= yield %>
            </div>
        </div>
    </div><!-- /.container -->
    
    <footer>
	  <div class="container">
	    <p class="text-muted">Created by <a href="https://nl.linkedin.com/in/deepak-mahajan-7b96b515">Deepak Kumar</a></p>
	  </div>
	</footer>
        
    </body>
</html>
